{% load static %}
<footer class="rodape">
    <div class="rodape__icones">
        <a href="https://www.linkedin.com/in/jscussiato/" target=”_blank” >
            <img src="{% static '/assets/ícones/1x/linkedin.png' %}" alt="ícone linkedin">
        </a>
        <a href="https://www.instagram.com/jascussiato/" target=”_blank” >
            <img src="{% static '/assets/ícones/1x/instagram.png' %}" alt="ícone instagram">
        </a>
    </div>
    <p class="rodape__texto">Mais um produto meia-boca JS</p>
</footer>
