<!-- templates / produtos / indexprodutos.html-->
{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
            <!-- <p class="imagem__titulo">Estou em templates / produtos / indexprodutos.html</p> -->
            <section class="conteudo">    
                <section class="produtos">
                    <div class="cards">
                        <h2 class="cards__titulo">Navegue Pelos Produtos</h2>
                        <ul class="cards__lista">
                            {% if cards %} <!-- teste para garantir que há conteúdo em cards -->
<!-- Abaixo, produto.id vem do dicionário em views
# info é o value do dicionário
# cards.items: card é a variável que contém o dicionário, e items indica os itens-->
                            {% for produto in cards %} 
                            <li class="card">
                                <a href="{% url 'imagemprodutos' produto.id %}">
                                {% if produto.foto == "" or produto.foto == null %}
                                    <img class="card__imagem" src="{% static '/assets/imagens/produtos/not-found.png'%}" alt="sem foto">
                                {% else %}
                                    <img class="card__imagem" src="{{ produto.foto.url }}" alt="foto">
                                {% endif %}
                                </a>
                                <span class="card__tag">{{ produto.setor }}</span>
                                <div class="card__info">
                                    <!-- <p class="card__titulo"> <a href="{% url 'imagemprodutos' produto.id %}"> {{ produto.nome }} </a></p> -->
                                    <p class="card__titulo">{{ produto.nome }}</p>
                                    <!-- <div class="card__texto"> -->
                                    <p class="card__titulo">{{ produto.unidade }}</p>
                                    <p class="card__titulo">{{ produto.preco }}</p>
                                        <!-- <span>
                                            <img src="{% static '/assets/ícones/1x/favorite_outline.png' %}" alt="ícone de coração">
                                        </span> -->
                                    <!-- </div> -->
                                </div>
                            </li>
                            {% endfor %}
                            {% else %}
                            <div class="imagem__texto">
                                <p>Nada encontrado para exibir. </p>
                            </div>
                            {% endif %}
                        </ul>
                    </div>

                    <div class="container">
                        {% if cards.has_other_pages %}
                        <ul class="paginationprods">
                            {% if cards.has_previous %}
                            <li class="paginationprods">
                                <a href="?page={{ cards.previous_page_number }}" class="page-link">&laquo;</a>
                            </li>
                            {% else %}
                            <li class="paginationprods">
                                <a class="disabled page-link">&laquo;</a>
                            </li>
                            {% endif %}
                            {% for pagina in cards.paginator.page_range %}
                            {% if cards.number == pagina %}
                            <li class="paginationprods">
                                <a class="active page-link">{{ pagina }}</a>
                            </li>
                            {% else %}
                            <li class="paginationprods">
                                <a href="?page={{pagina}}" class="page-link">{{pagina}}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                            {% if cards.has_next %}
                            <li class="paginationprods">
                                <a href="?page={{ cards.next_page_number }}" class="page-link">&raquo;</a>
                            </li>
                            {% else %}
                            <li class="paginationprods">
                                <a class="disabled page-link">&raquo;</a>
                            </li>
                            {% endif %}
                        </ul>
                        {% endif %}
                    </div>                                  
                </section>
            </section>
        </main>
    </div>
{% endblock %}
